  <div class="search">
    <form #form="ngForm" (submit)="onSubmit()">
      <input type="text" placeholder="Search City" name="city" [(ngModel)]="cityName">
    </form>
  </div>

<!-- 
<div class="container" *ngIf="weatherData"> 
  <div class="upper-data">
    <img src="../assets/hotone.jpg" alt="HOT TEMP" *ngIf="weatherData.main.temp > 15">
    <img src="../assets/coldone.jpg" alt="COLD TEMP" *ngIf="weatherData.main.temp <= 15">

    <div class="weather-data">
      <div class="location">{{weatherData.name}}</div>
      <div class="temp">{{ weatherData.main.temp | number: '1.0-0' }}&#176;C</div>
    </div>
  </div>
  <div class="lower-data">
<div class="more-info">
  More Information
</div>
<div class="more-info-container">
  <div class="info-block">
    <div class="block-label">
      <img src="../assets/tempLogo.jpg" alt="LogoTemp" style="width:50px">
      <span>min</span>
    </div>
    <div class="block-value">
      {{weatherData.main.temp_min}}&#176;C
    </div>
  </div>

  <div class="info-block">
    <div class="block-label">
      <img src="../assets/tempLogo.jpg" alt="LogoTemp" style="width:50px">
      <span>max</span>
    </div>
    <div class="block-value">
      {{weatherData.main.temp_max}}&#176;C
    </div>
  </div>

  <div class="info-block">
    <div class="block-label">
      <img src="../assets/tempLogo.jpg" alt="LogoTemp" style="width:50px">
      <span>humidity</span>
    </div>
    <div class="block-value">
      {{weatherData.main.humidity}}%
    </div>
  </div>


  <div class="info-block">
    <div class="block-label">
      <img src="../assets/tempLogo.jpg" alt="LogoTemp" style="width:50px">
      <span>wind</span>
    </div>
    <div class="block-value">
      {{weatherData.wind.speed}} km/h
    </div>
  </div>
</div>
  </div>
</div>  -->








<!-- Static Values Form Demo -->
 <div class="container">
  <div class="upper-data">
    <img src="../assets/hotone.jpg" alt="HOT TEMP" *ngIf="14 > 15">
    <img src="../assets/coldone.jpg" alt="COLD TEMP" *ngIf="14 <= 15">

    <div class="weather-data">
      <div class="location">Cairo</div>
      <div class="temp">{{ 14.41 | number: '1.0-0' }}&#176;C</div>
    </div>
  </div>
  <div class="lower-data">
<div class="more-info">
  More Information
</div>
<div class="more-info-container">
  <div class="info-block">
    <div class="block-label">
      <img src="../assets/tempLogo.jpg" alt="LogoTemp" style="width:50px">
      <span>min</span>
    </div>
    <div class="block-value">
      10&#176;C
    </div>
  </div>

  <div class="info-block">
    <div class="block-label">
      <img src="../assets/tempLogo.jpg" alt="LogoTemp" style="width:50px">
      <span>max</span>
    </div>
    <div class="block-value">
      20&#176;C
    </div>
  </div>

  <div class="info-block">
    <div class="block-label">
      <img src="../assets/tempLogo.jpg" alt="LogoTemp" style="width:50px">
      <span>humidity</span>
    </div>
    <div class="block-value">
     77%
    </div>
  </div>


  <div class="info-block">
    <div class="block-label">
      <img src="../assets/tempLogo.jpg" alt="LogoTemp" style="width:50px">
      <span>wind</span>
    </div>
    <div class="block-value">
      11 km/h
    </div>
  </div>
</div>
  </div>
</div> 